.postsList .post{
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;

  .postAvatar img{
    width: 50px;
    height: 50px;
    background-color: #ddd;
    margin-right: 10px;
  }
  .postContent{
    flex-grow: 1;
  }
  .userNamePostTimeline{
    font-size: 18px;
    font-weight: bold;
  }
  .userNamePostTimeline a{
    color: #000;

    &:hover{
      text-decoration: none;
      color: #00acee;
    }
  }
  .timelineUserNickname{
    padding-top: 0px;
    font-size: 14px;
    font-weight: none;
    color: rgb(194, 191, 191);
  }
  .btnDeletePost{
    float: right;
    margin-top: 8px;
    
  }
  .linkMentionUser{
    color: #00acee;
    text-decoration: none;

    &:hover{
      color:  darken(#00acee, 10%);
    }
  }
  .replyIcon{
    color: #ccd0d3;

    &:hover{
      color: #aeaeaf ;
    }
  }

}