.contentUserInformationsList {
  border-top: 1px solid #ccc;
}
.contentUserInformations {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  color: #000;

  &:hover {
    color: #00acee;
    text-decoration: none;
  }
  .userAvatar img {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    margin-right: 10px;
  }
}

.userIdentification .userName {
  font-weight: bold;
}
