.createPostForm{
  .buttonSubmitPost{
    border-radius: 20px;
    float: right;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .teste{
    margin-top: 50px;
  }
  .texteareaTimeline{
    margin-top: 30px;
  }
}