.pagePadding {
  padding: 20px;
}

.pageTitle {
  padding: 20px;
  font-size: 25px;
}

.editUserPage {
  padding-left: 0;
}
.loginPage h1,
.signupPage h1 {
  text-align: center;
  padding-top: 20px;
}

.btn.btn-primary {
  background-color: #00acee;
  border-color: #00acee;

  &:hover {
    background-color: darken(#00acee, 3%);
    border-color: darken(#00acee, 3%);
  }
}

.btn.btn-secondary {
  background-color: #fff;
  color: #00acee;
  border-color: #00acee;

  &:hover {
    background-color: darken(#00acee, 3%);
    border-color: darken(#00acee, 3%);
    color: #fff;
  }
}

.btn {
  font-weight: bold !important;
  border-radius: 20px !important;
}
.doesntHaveInformation {
  padding: 20px;
}
